h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
    text-align: center;
}

*{
    background-color: bisque;
}

img{
    display: flex;
    margin: auto;
    padding: auto;

    height: 500px;
    width: 50%;
}